@import url('https://fonts.googleapis.com/css2?family=VT323&family=Fjalla+One&family=Lato&family=Shadows+Into+Light&display=swap');

* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100vh;
}

body:not(.admin) {
  background-image: url(@/images/main-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  animation: groceryIsles 40s linear infinite;
}

body {
  background-color: #f9ddbb !important;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}

#nameAvatar {
  text-transform: uppercase;
  border-radius: 100%;
  padding: 8px;
  line-height: 18px;
  font-size:  18px;
  font-weight: bold;
  display: inline;
  margin-right: 8px;
}

#searchForm .btn-primary {
  background: #32533D !important;
  color: #fff;
  display: block;
  margin: 0;
  border: none !important;
  border-radius: 0 5px 5px 0 !important;
}

#searchForm .btn-text {
  display: block;
  margin: 0;
  border: none !important;
  border-radius: 5px 0 0 5px !important;
}

#searchForm .btn-primary:hover,
#searchForm .btn-primary:active {
  background: #2BA84A !important;
}

#searchForm .btn {
  background:
}

#searchForm .input-group-text {
  padding: 0;
}

body.admin #nameAvatar {
  background: #fff;
  color: #000;
}

body:not(.admin) #nameAvatar {
  background: #91C7B1;
  color: #fff;
}

.float-right {
  float: right;
}

.switch {
  font-size: 18px;
}

hr {
  border: none !important;
  border-bottom: 1px dashed #000 !important;
}

.alert,
.toast {
  font-family: 'Fjalla One', sans-serif;
  font-size: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.toast {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.85) !important;
}

.toastMessage {
  height: 100px !important;
}

@keyframes groceryIsles {
  0% {
    background-position: top 100px left;
  }
  100% {
    background-position: top 100px right;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
  font-family: 'Fjalla One', sans-serif !important;
}

.offcanvas {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.btn {
  border-radius: 0 !important;
  border: none !important;
  margin: 0 4px;
}

.btn-primary {
  background: #32533D !important;
  color: #fff;
}

.btn-secondary {
  background: #1e3888 !important;
  color: #fff;
}

.btn-success {
  background: #32533D !important;
}

.form-check-input.is-valid:checked {
  background-color: #32533D !important;
}

.form-check-input.is-valid ~ .form-check-label {
  color: #32533D !important;
}

.btn-danger {
  background: #8B1E3F !important;
}

.btn-warning {
  background: #FF3A20 !important;
  color: #fff !important;
}

.cardHighlight {
  min-height: 100%;
}

body.admin #main-nav,
body.admin .navbar-expand .navbar-nav .dropdown-menu,
.adminTable th,
.footer {
  background: #011936 !important;
  color: #DCBE9A;
}

#adminNav .nav-item .dropdown-menu {
  background: #011936 !important;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .25);
}

#adminNav .nav-item .dropdown-menu a:hover,
#adminNav .nav-item .dropdown-menu a:active {
  background: green;
  color: #fff;
}

body.admin .navbar-expand .navbar-nav .dropdown-menu a:hover {
  background: green;
}

body.admin #main-nav a {
  color: #DCBE9A;
}

body.admin #main-nav .navbar-toggler {
  background: #fff !important;
}

#main-nav {
  background-color: rgba(249, 221, 187, 0.9) !important;
  height: 100px !important;
  font-family: 'Lato', sans-serif;
  padding: 0 1em;
}

#offcanvasNavbar-expand {
  background: #E3D081;
}

#offcanvasNavbar-expand a {
  color: #32533D !important;
}

#offcanvasNavbar-expand .svg-inline--fa {
  color: #32533D !important;
  margin-right: 8px;
}

.scrolledDown #main-nav {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

#main-nav #navToggle {
  background: #001229;
  border: 1px solid #c2c4c7;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}

#main {
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
  padding-top: 100px;
}

#adminNav {
  margin-right: 2em;
}

body.admin #main {
  padding-top: 130px;
}

body:not(.admin) #main {
  background-image: url(@/images/bg-people.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}

#main #walkingPeople {
  display: none;
}

body:not(.admin) #main #walkingPeople {
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 339px;
  width: 100%;
  display: block;
}

#main #walkingPeople #people01 {
  width: 403px;
  height: 334px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: url(@/images/bg-people01.png);
  animation: people01 20s linear infinite;
}

@keyframes people01 {
  0% {
    left: -403px;
  }
  100% {
    left: 100vw;
  }
}

#main #walkingPeople #people02 {
  width: 178px;
  height: 339px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: url(@/images/bg-people02.png);
  animation: people02 35s linear infinite;
}

@keyframes people02 {
  0% {
    right: -178px;
  }
  100% {
    right: 100vw;
  }
}

#main #walkingPeople #people03 {
  width: 115px;
  height: 339px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: url(@/images/bg-people03.png);
  animation: people03 10s linear infinite;
}

@keyframes people03 {
  0% {
    left: 20%;
    transform: none;
  }
  50% {
    left: 80%;
    transform: none;
  }
  51% {
    transform: scaleX(-1);
  }
  99% {
    transform: scaleX(-1);
  }
  100% {
    left: 20%;
    transform: none;
  }
}

.brownCard {
  border-radius: 0 !important;
  width: 290px;
  margin: 30px auto 0;
  background-color: #dcbe9a !important;
  background-image: linear-gradient(#aa9072, #b59775, #ccaa80, #dcbe9a, #dcbe9a, #dcbe9a);
  font-size: 18px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.55);
  position: relative;
  z-index: 2;
  opacity: 0.98;
}

.brownCard.flexible {
  width: auto;
}

.brownCard h1 {
  font-size: 1.25em;
  letter-spacing: -1px;
  border-bottom: 1px dashed #000;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
}

.brownCard h1 #grocerySettings .dropdown-toggle  {
  background: transparent !important;
  color: #fff;
  padding: 0;
  margin: 0;
}

.brownCard h1 #grocerySettings .dropdown-menu {
  border-radius: 0 !important;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  background: #011936;
}

.brownCard h1 #grocerySettings .dropdown-item {
  font-family: 'Lato', sans-serif !important;
  border-bottom: 1px dashed #a9a9a9;
  padding: 0.5em 1em;
  color: #fff !important;
}

.brownCard h1 #grocerySettings .dropdown-item:hover,
.brownCard h1 #grocerySettings .dropdown-item:hover .svg-inline--fa {
  color: #011936 !important;
}

.brownCard h1 #grocerySettings .dropdown-item .svg-inline--fa {
  margin-right: 8px;
  color: #fff;
}

.brownCard h1 #grocerySettings .dropdown-item:last-child {
  border: none;
}

.brownCard h1 span {
  background: #000;
  color: #fff;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  margin-left: 15px;
}

.brownCard input,
.brownCard select {
  font-family: 'Fjalla One', sans-serif;
}

.brownCard .list_items {
  margin: 5px 8px;
  font-weight: bold;
  font-family: 'Shadows Into Light', cursive !important;
}

.brownCard .list_items .form-check-label {
  color: #000 !important;
}

.brownCard .list_items em {
  color: #1f712a;
}

.brownCard .form-check-inline {
  width: 250px;
}

.brownCard .list_label {
  display: inline-block;
  border-bottom: 1px dotted black;
  width: 220px;
  margin-left: 10px;
}

.brownCard .list_label.alreadyBought,
.brownCard .list_label.alreadyBought em {
  color: #fff;
  text-decoration: line-through;
}

.brownCard .list_label .btn {
  float: right;
  color: #B20D30;
  cursor: pointer;
  padding: 3px 0 0 0;
  background: transparent !important;
}

.brownCard .totals,
.modalTotals {
  text-align: right;
  font-family: 'Fjalla One', sans-serif !important;
  font-size: 1.25em;
  padding: 10px 0;
}

.brownCard .totals strong,
.modalTotals strong {
  background: #011936;
  color: #fff;
  display: inline-block;
  padding: 2px 15px;
}

.modalMessage {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Shadows Into Light', cursive !important;
}

.footer {
  font-family: 'Fjalla One', sans-serif;
  font-size: 12px;
  padding: 5px 15px;
}

.adminCard {
  position: relative;
  z-index: 99;
  border-radius: 0 !important;
  font-size: 0.75em;
  background-color: #dcbe9a !important;
  background-image: linear-gradient(#aa9072, #b59775, #ccaa80, #dcbe9a, #dcbe9a, #dcbe9a);
}

.adminCard .card-title {
  font-family: 'Fjalla One', sans-serif;
  font-size: 2.5em;
  letter-spacing: 0px;
  color: #28231C;
  text-transform: uppercase;
}

.adminCard .card-title .btn {
  float: right;
}



.adminCard .card-subtitle {
  color: #8B1E3F;
  font-size: 12px;
  text-align: right;
  margin-bottom: 30px;
}

.admin-nav {
  border-bottom: 1px dashed #000;
}

.admin-nav a {
  color: #000;
  font-size: 16px;
}

.adminTable {
  background: #f9ddbb;
  border-color: ##655356 !important;
}

.adminTable sup {
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  background: red;
  padding: 2px;
  border-radius: 5px;
  margin-left: 5px;
}

.adminTable a {
  color: #0D3B66;
  font-size: 16px;
}

.adminTable th {
  text-align: center !important;
  text-transform: uppercase;
  font-size: 1.125em;
}

.faError {
  color: #8B1E3F;
}

.faSuccess {
  color: #32533D;
}

.faWarning {
  color: #FF3A20;
}

.faGold {
  color: yellow;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.home img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.home h1 {
  font-size: 2em;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.home h5 {
  font-family: 'Shadows Into Light', cursive !important;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 30px;
  color: #331832;
  line-height: 1.5em;
  text-align: center;
}

.home strong {
  color: #7B2D26;
}

.is-invalid ~ .invalid-feedback {
  background: red;
  color: #fff !important;
  margin: 0 0 0 15px !important;
  padding: 0 8px 0 8px !important;
  position: relative;
  top: -3px;
  width: auto !important;
  padding: 0 5px;
  font-size: 12px !important;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  display: inline-block !important;
}

.pagination {
  justify-content: flex-end;
}

.pagination .page-link {
  color: #32533D;
}

.pagination .active > .page-link {
  background: #32533D !important;
  border-color:  green;
}

.suggested {
  display: flex;
  text-align: center;
  margin: 0 0 15px;
  padding: 0;
  list-style: none;
}

.suggested li {
  flex-grow: 1;
  flex-basis: 0;
  padding: 5px;
  display: flex;
}

.suggested li:last-child {
  border: none;
}

.suggested .card {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8) !important;
}

.suggested img {
  max-width: 100%;
  max-height: 50px;
  display: block;
  margin: 0 auto;
}

.suggested strong {
  display: block;
  font-size: 10px;
  font-weight: bold;
  background: #32533D;
  padding: 3px;
  flex-grow: 1;
  justify-content: center;
  display: flex;
  align-items: center;
}

.suggested a {
  color: #fff;
  text-decoration: none;
  border: 2px solid #32533D;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: 100%;
}

.suggested a:hover {
  color: yellow;
}

.receipt {
  font-family: 'VT323', monospace !important;
  font-size: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  background: #fff;
  padding: 1em;
  margin: 0 0 2em;
}

.receipt ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.receipt li {
  border-bottom: 1px dashed #a9a9a9;
  padding: 0.5em;
}

.receipt li em {
  float: right;
  font-weight: bold;
}

.receipt li a {
  color: #32533D;
}

.receipt h5 {
  margin: 10px 0;
  padding: 0 10px;
  text-align: right;
  font-family: 'VT323', monospace !important;
  font-size: 1.25em;
}

.receipt h5 span {
  background: #000;
  color: #fff;
  display: inline-block;
  padding: 0 15px;
}

#featuredCarousel {
  height: 400px;
  margin: 0 0 30px 0;
  border-radius: 5px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

#featuredCarousel img {
  object-fit: cover;
  height: 400px;
  width: auto;
}

#featuredCarousel .carousel-item {
  height: 400px;
  position: relative;
}

#featuredCarousel .carousel-item a {
  color: #fff;
  text-decoration: none;
}

#featuredCarousel .carousel-caption {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  bottom: 0;
}

.productsFront {
  margin-bottom: 1em;
  flex-grow: 1;
}

.productsFront img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.productsFront a {
  color: #32533D;
  text-decoration: none;
}

.productsFront a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 998px) {
  #adminNav.show {
    background: rgba(0, 18, 41, 0.99);
    width: 100vw !important;
    margin: 5px -1em 0;
    padding: 0;
    padding: 1em;
    height: calc(100vh - 100px);
  }

  #adminNav #nameAvatar {
    margin: 1em 0;
    display: inline-block;
  }

  #main {
    background-size: auto 150px;
  }

  #main #walkingPeople {
    height: 150px
  }

  #main #walkingPeople #people01 {
    width: 180px;
    height: 150px;
    background-size: cover;
  }

  #main #walkingPeople #people02 {
    width: 80px;
    height: 150px;
    background-size: cover;
  }

  #main #walkingPeople #people03 {
    width: 52px;
    height: 150px;
    background-size: cover;
  }

  .receipt li em {
    display: block;
    float: none;
    text-align: right;
  }
}

